<!DOCTYPE html>
<html>
<head><title>Example Node.js App</title></head>

<!--
  Customize the "body" bg class.

  allowed color values:
    red, orange, yellow,
    green, teal, blue,
    pink
-->

<body class="bg-orange-600">
<br><br>
      <img src="/yesthisisapp.png" alt="Hello yes this is app">
<br><br>

</body>
</html>
